@viewport {
  width: device-width;
  zoom: 1.1;
  min-zoom: 0.4;
  max-zoom: 2;
  user-zoom: fixed;
}
* {
  margin: 0;
  padding: 0;
}
.main {
  background: url(Usine-du-futur_0-scaled.jpg);
  background-repeat: no-repeat;
  position: relative;
  background-position: center;
  background-size: cover;
  height: 100vh;
}

.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 50px;
  padding-left: 50px;
  background-image: linear-gradient(90deg, #a1aadfe5 10%, #d3b168ad 80%);
}

.header-container div h2 {
  margin-bottom: 15px;
  font-family: "Courier New";
  font-size: 60px;
}

.nav-elems ul {
  display: flex;
  flex-direction: row;
  padding-top: 10px;
  padding-left: 110px;
}

.nav-elems li {
  list-style: none;
  padding-right: 50px;
}

.nav-elems li a {
  color: #000000;
  text-decoration: none;
  font-family: Arial;
  font-weight: bold;
  font-size: 24px;
  transition: 0.4s ease-in-out;
}

.nav-elems li a:hover {
  color: #d3d3d3;
}

.search-div {
  display: flex;
  flex-direction: row;
  justify-content: start;
  margin-right: 50px;
  margin-top: 10px;
}
.search-div div {
  padding-right: 10px;
}

.search-div input {
  border: solid 1px black;
  border-radius: 5px;
  padding: 5px;
  height: 33px;
}

.mag a i {
  text-decoration: none;
  font-size: 27px;
  text-decoration: none;
  color: #000000;
}

::placeholder {
  font-size: large;
  color: #000000;
}

/* .navbar {
  width: auto;
  margin: auto;
  height: 75px;
}
.icon {
  width: 200px;
  float: left;
  height: 60px;
  padding-top: 3px;
}
.logo {
  color: #ffffff;
  font-size: 50px;
  font-family: "Courier New";
  padding-left: 20px;
  float: left;
  padding-top: 7px;
} */

/* .menu {
  width: auto;
  float: center;
  height: 70px;
  padding-top: 0%;
  background-image: linear-gradient(90deg, #a1aadfa9 10%, #d3b16886 80%);
  background-position: fixed;
} */

/* ul {
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 700px;
  padding-top: 0px;
  width: 200px;
  margin-top: 27px;
  position: fixed;
  margin-left: 50px;
}
ul li {
  list-style: none;
  margin-left: 30px;

  font-size: 15px;
  width: 1000px;
}

ul li a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-family: Arial;
  font-weight: bold;
  transition: 0.4s ease-in-out;
}
ul li a:hover {
  color: #09090a;
} */
/* 
.search {
  width: 200px;
}
.srch {
  font-family: "Georgia";
  width: 100px;
  height: 30px;
  background: #fff6f6ce;
  border: 1px solid #000000;
  margin-top: 20px;
  color: rgb(0, 0, 0);
  border-right: none;
  font-size: 16px;
  float: left;
  padding: 10px;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
}

.btn {
  width: 30px;
  height: 30px;
  background: #fff6f6ce;
  border: 1px solid #000000;
  margin-top: 20px;

  font-size: 18px;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  opacity: 0.9;
}
.btn:focus {
  outline: none;
}

.srch:focus {
  outline: none;
} */

.media-icons {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 40px;
  bottom: 40px;
}
.media-icons a {
  margin-top: 23px;
  font-size: 30px;
  font-weight: 500;
  text-decoration: none;
  opacity: 0.7;
  color: #000000;
  transition: all 0.3s ease;
}
.media-icons a:hover {
  opacity: 1;
}
